# Data Preprocessing

Di sesi pertama ini kita akan melakukan pengolahan dan pemilihan terhadap fitur atribut dari gambar. Atribut dari gambar sudah dikumpulkan dalam file list_attr_celeba.txt

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import shutil
import keras
from keras import preprocessing
from keras import layers

## Membaca file attributes
Data atribut tersimpan dalam bentuk file text dan terdapat pemisahan spasi antar kolom.

In [3]:
df = pd.read_csv("list_attr_celeba.txt", sep="\s+", index_col=0, skiprows=1)

In [4]:
df.head(5)

,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
000001.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,1,-1,1,-1,1,-1,-1,1
000002.jpg,-1,-1,-1,1,-1,-1,-1,1,-1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,1
000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,1,-1,1,1,-1,1
000005.jpg,-1,1,1,-1,-1,-1,1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1

## Menyeleksi kolom
Fitur  yang diambil adalah kolom "Male", dimana memiliki nilai 1 untuk Male, dan -1 untuk Female.
Jumlah baris juka perlu difilter agar sesuai dengan jumlah gambar pelatihan di folder Images yang berjumlah 5000.

In [5]:
df = df[['Male']]
image_list = os.listdir("Images")
df = df[df.index.isin(image_list)]
df.shape

(5000, 1)

In [6]:
df.head()

            Male
000051.jpg     1
000052.jpg     1
000065.jpg     1
000166.jpg     1
000198.jpg    -1

## Menyimpan Atribut
Atribut yang udah diseleksi akan disimpan ke dalam file "male_attribute.csv", yang nantinya akan diload untuk pembuatan datasets.

In [7]:
df.to_csv('male_attribute.csv', index_label="Image_Id")

In [8]:
df = pd.read_csv("male_attribute.csv")
df.head()

     Image_Id  Male
0  000051.jpg     1
1  000052.jpg     1
2  000065.jpg     1
3  000166.jpg     1
4  000198.jpg    -1